.ba{
    background-image: url("https://cdn.pixabay.com/photo/2023/01/29/06/48/icons-7752534__340.jpg");
   border: 1px solid aqua;
   border-radius: 3px;
   padding: 5px;

}
.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }